@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import './variables.css';
@import './utilities.css';



body {
    font-family: 'Montserrat', sans-serif;
   
}

  
header {background:
     url('../img/24.jpg');
    background-size: cover;
    min-height: 103vh;
    
    }

header nav {
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

header nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-right a {
    text-decoration: none;
    color: var(--pure);
    margin-right: 30px;
    position: relative;
}

header nav .nav-right a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 2px;
    background: var(--pure);
    transition: width .3s ease-in-out;
}

header nav .nav-right a:hover:after {
    width: 70%;
}

header nav .nav-right a.active:after {
    width: 70%;
}



.social div {
    border: 2px solid var(--pure);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    opacity: 0;
}

@keyframes moveIn {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.social svg path {
  fill: var(--orange);  
}

.social div:hover svg path {
    fill: var(--dark);
    transition: all .5s ease-in-out;
}

.social div:hover {
    background: var(--pure);
}

.hero {
    position: relative;
}
.social {
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid var(--gray);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}

.hero .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(80vh - 80px);
}

.hero .cta h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero .cta > div {
    flex: 1;
}

.hero .cta .left-section {
    padding: 0 70px 0 80px;
}

.hero .cta .right-section img {
    height: 60vh;
    transform: rotate(50deg);
    animation: moveInSpace 12s ease-in-out infinite alternate;
}

@keyframes moveInSpace {
    50% {
       transform: translateY(100px) rotate(-30deg) scale(0.8); 
    }
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: rgb(221, 174, 43);
        font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
     /* Adjust as needed */
    animation: 
      typing 4.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  

  /* DEMO-SPECIFIC STYLES */
.typewriter h5 {
    color: white;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
     /* Adjust as needed */
    animation: 
      typing 4.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

footer {
    background: var(--dark);
    padding: 60px 0;
}

footer > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

 footer .copyright span {
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

footer .copyright img {
    height: 30px;
}

footer h1 {
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}

footer h1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--pure);
}

footer ul {
    list-style-type: none;
}

footer ul li:nth-child(even) {
    margin: 10px 0;
 }

 footer ul li a {
    color: var(--mild);
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

footer ul li a:hover {
    color: var(--pure);
 }

 footer .footer-socials a {
    margin-right: 20px;
    font-size: 22px;
    color: var(--mild);
}

footer .footer-socials a:hover {
    color: var(--pure);
}



.flip-card {
  background-color: transparent;
  width: 900px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:;
  color: black;
}

.flip-card-back {
  background-color:;
  color: black;
  transform: rotateY(180deg);
}

.smallheader {
   background: 
     url('../img/987.jpg');
    background-size: cover;
    min-height: 103vh;

 }



